:root {
  --theme-hue: 84;
  --foreground-color: black;
  color: var(--foreground-color);

  font-style: normal;
  font-family: "Noto Serif SC", serif;
  font-optical-sizing: auto;
}

body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

h2 {
  margin: 0;
}

.land {
  fill: transparent;
  stroke: gray;
  stroke-opacity: 1;
  stroke-width: 0.5;
  transition: all 150ms;
}

.land:hover {
  -webkit-filter: drop-shadow(
    4px 4px 6px hsla(var(--theme-hue), 46%, 56%, 0.3)
  );
  filter: drop-shadow(4px 4px 6px hsla(var(--theme-hue), 46%, 56%, 0.3));
  fill: hsl(var(--theme-hue), 67%, 70%);
  transform: translateZ(10px);
}

.unselected {
  opacity: 0.3;
}

.unselected-hold {
  opacity: 0.3;
}

.unselected-hold:hover {
  fill: white;
  opacity: 0.3;
}

.selected-hold,
.selected-hold:hover {
  -webkit-filter: drop-shadow(
      8px 8px 12px hsla(var(--theme-hue), 46%, 56%, 0.3)
    )
    brightness(105%);
  filter: drop-shadow(8px 8px 12px hsla(var(--theme-hue), 46%, 56%, 0.3))
    brightness(105%);
  fill: hsl(var(--theme-hue), 66%, 70%);
  transform: translateZ(100px) translateY(-12px);
  position: relative;
  opacity: 1;
}

.selected-hold {
  stroke: hsl(0, 0%, 61%);
  stroke-width: 1;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: flowLight 10s linear infinite;
}

@keyframes flowLight {
  to {
    stroke-dashoffset: -300;
  }
}

#main-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  #main-area {
    flex-direction: row;
  }
}

.province-title {
  font-size: x-large;
}

.province-data-wrapper {
  margin: 8px;
  padding: 4px 8px;
  border-radius: 8px;
  box-shadow: 3px 3px 6px 0 hsla(0, 0%, 0%, 0.3);
}

.avatar {
  height: 40px;
  border-radius: 9999px;
  overflow: hidden;
  border: 2px solid white;
  box-shadow: 1px 1px 4px 0 hsla(0, 0%, 0%, 0.545);
}

.avatar:not(:nth-child(1)) {
  margin-left: -12px;
}

.avatar:first-child {
  margin-left: 4px;
}

#map {
  transform-origin: center;
  padding: 3em;
  flex-shrink: 0.5;
  transition: all 1s ease;
}

#info-area-title {
  margin-top: 4px;
  display: flex;
  z-index: 100;
  place-items: center;
  transition: all 250ms;
}

#back-button {
  display: flex;
  place-items: center;
  padding: 8px;
  margin-right: 4px;
  border-radius: 9999px;
  opacity: 0;
  transition: all 250ms;
}

#back-button:hover {
  background-color: hsla(0, 0%, 0%, 0.1);
  cursor: pointer;
  box-shadow: 1px 1px 2px 0 hsla(0, 0%, 0%, 0.2);
}

#info-area-wrapper {
  flex: 1;
  position: relative;
  display: flex;
  z-index: 999;
  overflow-x: clip;
  overflow-y: hidden;
}

#info-area-content-wrapper {
  width: calc(100% - 32px);
  z-index: 1000;
  padding: 0 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#info-area-title-text {
  flex-grow: 1;
  margin-right: -40px;
}

#info-area-gradient-bg {
  flex-grow: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-mask: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 14%,
    rgba(255, 255, 255, 1)
  );
  mask: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 14%,
    rgba(255, 255, 255, 1)
  );
}

.school-data-wrapper {
  display: flex;
  flex-direction: column;
  overflow-x: clip;
}

.school-data-wrapper:not(:first-child) {
  margin-top: 8px;
}

.school-data-wrapper:last-child {
  margin-bottom: 8px;
}

#school-wrapper {
  position: relative;
  flex: 1;
  overflow-y: auto;
  margin-right: -16px;
}

.avatar-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4px;
}

.line-through {
  text-decoration: line-through;
}

#available-province-list {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 0;
  overflow: auto;
  transition: all 250ms;
}

@media screen and (min-width: 768px) {
  #info-area-wrapper {
    min-width: 364px;
    display: absolute;
    top: 0;
    right: 0;
  }

  #info-area-gradient-bg {
    mask: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1) 14%,
      rgba(255, 255, 255, 1)
    );
    overflow-x: visible;
  }

  #map {
    margin-right: 64px;
  }

  #info-area-content-wrapper {
    padding: 24px 24px 0 32px;
  }

  #school-wrapper {
    flex: 1;
    overflow-y: auto;
    margin-right: -24px;
  }

  #available-province-list {
    width: 100%;
  }
}

#menu-toggle {
  transform: translateX(40px);
  transition: all 250ms;
  cursor: pointer;

  height: auto;
  width: 20px;
}

#menu-toggle-upper,
#menu-toggle-middle,
#menu-toggle-lower {
  position: relative;
  width: 100%;
  background-color: var(--foreground-color);
  height: 1px;
  transition: all 250ms;
  top: 0;
}

#menu-toggle-middle {
  margin: 4px 0;
}

.province-list-item {
  transition: all 300ms cubic-bezier(0.29, 0.16, 0.21, 1.11);
  opacity: 0;
  transition-delay: calc(var(--item-order-num) * 30ms);
  cursor: pointer;
}

.province-list-item:first-child {
  margin-top: 40px;
}

.province-list-item:hover .province-list-item-text {
  font-weight: 200;
}

.province-list-item:active .province-list-item-text {
  font-weight: 100;
}

.province-list-item-text {
  font-weight: 400;
  transition: font-weight 150ms;
}

.conflicting-background {
  transition: all 250ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: black;
    --foreground-color: white;
  }
}
